<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    tabindex="-1"
    id="shoppingCart"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">
            Shopping Cart
        </h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <div class="vstack justify-content-between h-100">
            <ul class="list-group">
                {% for item in cart.items.all %}
                    <li class="list-group-item">
                        <div class="hstack gap-4 align-items-center justify-content-between">
                            <h5 class="mb-0">{{item.product.title}}</h5>
                            <form>
                                {% csrf_token %}
                                <button class="btn-close"></button>
                            </form>
                        </div>
                        <div class="hstack align-items-center justify-content-between mt-3">
                            <input class="form-control" type="number" value="{{item.quantity}}" style="width: 25%;">
                            <span class="fs-4">${{item.price}}</span>
                        </div>
                    </li>
                {% empty %}
                    <p>Your shopping cart is empty.</p>
                {% endfor %}
            </ul>
            
            {% if cart.items.count > 0 %}
            <div>
                <div class="mb-4 fs-4">
                    <span>
                        Total: ${{cart.calculate_total}}
                    </span>
                </div>
                <div>
                    <form action="{% url "add-order" %}" method="post" class="d-grid">
                        {% csrf_token %}
                        <button class="btn btn-outline-dark btn-lg">Submit Order</button>
                    </form>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
</div>