{% load static%}
{% load django_htmx %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

    <link rel="stylesheet" href="{% static "bootstrap.css" %}">
    <link rel="stylesheet" href="{% static "global.css" %}">
    <script defer src="{% static "bootstrap.js" %}"></script>
    <script defer src="{% static "htmx.min.js" %}"></script>
    <script defer src="{% static "alerts.js"%}"></script>
    {% django_htmx_script %}

    {% block head %}{% endblock %}
</head>
<body class="position-relative">
    {% include "base/includes/navbar.html" %}
    {% include "shopping_cart/shopping_cart.html" %}
    {% block body %}{% endblock %}
    {% include "base/includes/footer.html" %}
    <div data-message-container class="position-fixed d-flex flex-column gap-2" style="bottom: 2vh; right: 2vh; z-index: 9999;">
        {% for message in messages %}
            {% include "base/includes/message.html" %}
        {% endfor %}
    </div>
</body>
</html>

