{% for product in product_list %}
<div class="col-md-4">
    <a href="{% url "single_product" product.slug %}" class="text-decoration-none">
        <article class="card h-100">
            <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}" />
            <div class="card-body">
                <h4 class="card-title">{{ product.title}}</h4>
                <span class="fs-1 fw-bold">${{ product.price}}</span>
            </div>
        </article>
    </a>
</div>
{% empty %}
<p class="text-center">There are no Products available</p>
{% endfor %}

{% if next_page %}
    <span
    hx-get="{% url "products" %}?page={{next_page}}&query={{query}}&category={{category_slug}}&order_by={{order_by}}"
    hx-target="#products-container"
    hx-trigger="revealed"
    hx-swap="beforeend"
    >
    {% include "base/includes/htmx_indicator.html" %}
    </span>
{% endif %}