{% for product in product_list %}
<div class="col-md-4">
    {% include "core/includes/product_card.html" %}
</div>
{% empty %}
<p class="text-center">There are no Products available</p>
{% endfor %}

{% if next_page %}
    <span
    hx-get="{% url "products" %}?page={{next_page}}&query={{query}}&category={{category_slug}}&order_by={{order_by}}"
    hx-target="#products-container"
    hx-trigger="revealed"
    hx-swap="beforeend"
    >
    {% include "base/includes/htmx_indicator.html" %}
    </span>
{% endif %}
