<div class="col-md-8 offset-md-2">
    <div class="d-flex flex-column" style="min-height: 70vh;">
      {% if address_list %}
        <table class="table">
          <thead>
            <tr>
              <th scope="col">#</th>
              <th scope="col">Address</th>
              <th scope="col">Postal Code</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody>
            {% for address in address_list %}
              <tr>
                <th scope="row">{{address.}}</th>
                <td>{{address.province}}-{{address.city}}-{{address.address}}</td>
                <td>{{address.postal_code}}</td>
                <td>Delete</td>
              </tr>
            {% endfor %}
          </tbody>
        </table>
      {% else %}
        <p>You haven't added any addresses yet. Click below to add an address.</p>
      {% endif %}
      
        <div class="d-grid mt-auto">
          <a class="btn btn-outline-dark" href="#">Add Address</a>
        </div>
    </div>
</div>