{% extends "base/base.html" %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}{{ product.title }}{% endblock %}

{% block body %}
<main>
    <article class="pt-8 pb-7">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="image-container">
                        <img
                            src="{{ product.image.url }}"
                            class="img-fluid rounded-5"
                            alt="{{ product.title }}"/>
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="summary-container h-100 p-5">
                        <div class="vstack justify-content-between h-100">
                            <div>
                                <h1 class="mb-1">{{ product.title|title }}</h1>
                                <span class="fw-bold fs-1">$ {{ product.price }}</span>
                                <p class="lead mt-5">{{ product.summary }}</p>
                            </div>
                            
                            <form action="{% url "add-to-cart" product.id%}" method="post">
                                {% csrf_token %}
                                {{quantity_form|crispy}}
                                <div class="d-grid">
                                    <button class="btn btn-lg btn-outline-dark px-4">Add To Cart</button>
                                </div>
                                </form>
                        </div>
                    </div>
                </div>
            </div>
            
            {% comment %} Tabs {% endcomment %}
            <!-- Nav tabs -->
            <ul class="nav nav-tabs my-5 mx-4" id="productTabs" role="tablist">
                {% if product.description %}
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link active"
                        id="description-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#description"
                        type="button"
                        role="tab"
                    >
                        Description
                    </button>
                </li>
                {% endif %} 
                <li class="nav-item" role="presentation">
                    <button
                        class="nav-link {% if not product.description %}active{% endif %}"
                        id="review-tab"
                        data-bs-toggle="tab"
                        data-bs-target="#reviews"
                        type="button"
                        role="tab"
                        aria-controls="profile"
                        aria-selected="false"
                    >
                        Reviews
                    </button>
                </li>
            </ul>
            
            <!-- Tab panes -->
            <div class="tab-content mx-5">
                {% if product.description %}
                <div
                    class="tab-pane fade show active"
                    id="description"
                    role="tabpanel"
                >
                    {% comment %} Description Tab {% endcomment %}
                    {% if product.description %}
                        <h2>More About {{ product.title }}</h2>
                        {{ product.description|linebreaks }}
                    {% endif %}
                </div>
                {% endif %}

                <div
                    class="tab-pane fade {% if not product.description %}show active{% endif %}"
                    id="reviews"
                    role="tabpanel"
                >
                    {% comment %} Reviews Tab {% endcomment %}
                    <div>
                        {% comment %} TODO Show review form if authenticated Otherwise show Login to review {% endcomment %}
                        <div class="row mb-6">
                            {% if user.is_authenticated %}
                                <form action="" method="post">
                                    {% csrf_token %}
                                    {{ review_form|crispy }}
                                    <button class="btn btn-outline-dark">Submit Review</button>
                                </form>
                            {% else %}
                                <p>Login in to submit a review.</p>
                                <div><a class="btn btn-outline-dark mt-3" href="{% url "login" %}">Login</a></div>
                            {% endif %}
                        </div>

                        {% comment %} TODO reviews {% endcomment %}
                        <div class="row g-5">
                            {% for review in reviews %}
                                <div class="col-10 offset-1">
                                    <div class="d-flex justify-content-between align-items-center">
                                        <h5 class="mb-0">Review by {{ review.user}}</h5>
                                        <span class="fw-bold fs-4">{{ review.rating }}/5</span>
                                    </div>
                                    <p class="text-muted"> on {{ review.created_at}}</p>
                                    <p>{{ review.comment|linebreaks }}</p>
                                </div>
                                <hr>
                            {% empty %}
                            <p>No reviews are submitted yet. Be the first one to review this product.</p>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </article>
</main>

{% endblock %}