{% extends "base.html" %}

{% block title %} Moden E-commerce{% endblock %}

{% block body %}
{% include "shop/includes/navbar.html" %}
<div class="container">
    {% comment %} Top selling {% endcomment %}
    <section class="py-5">
        <h2 class="my-4">Our Top Selling Products</h2>
        <div class="row">
            {% for product in top_selling_products%}
            <div class="col-md-3">
                <div class="card text-start h-100">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Title" />
                    <div class="card-body h-100">
                        <h4 class="card-title mb-auto">{{product.name|title}}</h4>
                    </div>

                    <a class="btn btn-outline-dark m-2" href="{% url "single_product" product.slug %}">See More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
    
    <section class="py-5">
        <h2 class="my-4">Our Latest Products</h2>
        <div class="row">
            {% for product in top_selling_products%}
            <div class="col-md-3">
                <div class="card text-start h-100">
                    <img class="card-img-top" src="{{ product.image.url }}" alt="Title" />
                    <div class="card-body">
                        <h4 class="card-title">{{product.name|title}}</h4>
                    </div>
                    <a class="btn btn-outline-dark m-2" href="{% url "single_product" product.slug %}">See More</a>
                </div>
            </div>
            {% endfor %}
        </div>
    </section>
</div>

{% include "shop/includes/footer.html" %}
{% endblock %}