{% extends "base.html" %}

{% block title %}Shopping Cart{% endblock %}

{% block body %}
{% include "shop/includes/navbar.html" %}
<section class="py-5">
    <div class="container d-flex flex-column vh-100">
        <h1 class="my-5">Shopping Cart</h1>

        <ul class="list-group">
            {% if shopping_cart_items %}
                {% for product in shopping_cart_items %}
                    <li class="list-group-item d-flex justify-content-between align-items-center">
                        {{product.name}}
                        <a class="btn btn-danger" href="{% url "remove-from-cart"  product.slug %}">Delete</a>
                    </li>
                {% endfor %}
            {% else %}
            <p>There are no items in your shopping cart!</p>
            {% endif %}
        </ul>
        
        <a class="btn btn-lg btn-outline-dark my-5 align-self-end" href="#">Order Now</a>
    </div>
</section>
{% include "shop/includes/footer.html" %}
{% endblock %}