{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block title %}Welcome {{user.first_name}}{% endblock %}

{% block body %}
<section class="pt-7 pb-6" style="min-height: 80vh;">
    <div class="container">
        <div class="row">
            <div class='col-md-6 offset-md-3'>
                <h1>Welcome to MCommerce {{user.first_name}}</h1>
                <form action="" method="post">
                    {% csrf_token %}
                    {{form|crispy}}
                
                    <button class="btn btn-outline-dark">Submit</button>
                </form>
            </div>
        </div>
    </div>
</section>
{% endblock %}