<div class="col-md-8 col-offset-2 mx-auto">
    <ul class="list-group w-100">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scoe="col">Info</th>
                <th scope="col">Items</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
                {% for order in orders %}
                    <tr>
                        <th scope="row">{{order.id}}</th>
                        <td>{{order.items.count}} items on {{order.created_at}}</td>
                        
                    </tr>
                {% endfor %}
            </tbody>
          </table>
    </ul>
</div>