<footer class="py-5 text-bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <span class="fs-3">Moden E-commerce</span>
            </div>
            <div class="col-md-4">
                <nav class="nav justify-content-center flex-column align-items-center">
                    <a class="nav-link link-light" href="/">Home</a>
                    <a class="nav-link link-light" href="/products">Products</a>
                    <a class="nav-link link-light" href="/login">Login</a>
                    <a class="nav-link link-light" href="/register">Register</a>
                </nav>
                
            </div>
            <div class="col-md-4">
                <p>All rights are reserved</p>
            </div>
        </div>
    </div>
</footer>