<nav
    class="navbar navbar-expand-sm navbar-light bg-light py-3"
>
    <div class="container">
        <a class="navbar-brand" href="#">Moden E-commerce</a>
        <button
            class="navbar-toggler d-lg-none"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavId"
            aria-controls="collapsibleNavId"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            {% comment %} Navbar Items {% endcomment %}
            <ul class="navbar-nav me-auto ms-4 mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/products">Products</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-outline-secondary mx-2" href="/login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="btn btn-primary text-white" href="/register">Register</a>
                </li>
            </ul>
            {% comment %} Search Form {% endcomment %}
            <form class="d-flex my-2 my-lg-0">
                <input
                    class="form-control me-sm-2"
                    type="text"
                    placeholder="Search"
                />
                <button
                    class="btn btn-outline-success my-2 my-sm-0"
                    type="submit"
                >
                    Search
                </button>
            </form>
        </div>
    </div>
</nav>
