<footer class="py-5 text-bg-dark">
    <div class="container">
        <div class="row text-center">
            <div class="col-md-4">
                Welcome to Mcommerce
            </div>
            <div class="col-md-4">
                <ul
                    class="nav align-items-left vstack"
                >
                    <li class="nav-item">
                        <a class="nav-link link-light" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link link-light" href="#">LInk</a>
                    </li>
                </ul>
                
            </div>
            <div class="col-md-4">
                <span class="text-light">All rights are reserved.</span>
            </div>
        </div>
    </div>
</footer>