<div
    class="offcanvas offcanvas-start"
    data-bs-scroll="true"
    tabindex="-1"
    id="shoppingCart"
>
    <div class="offcanvas-header">
        <h5 class="offcanvas-title">
            Shopping Cart
        </h5>
        <button
            type="button"
            class="btn-close"
            data-bs-dismiss="offcanvas"
            aria-label="Close"
        ></button>
    </div>
    <div class="offcanvas-body">
        <ul>
            {% for item in cart.items.all %}
                <li>
                    {{item.product.title}} |
                    {{item.quantity}} piece |
                    {{item.product.price}}$
                </li>
            {% empty %}
                <li>Your shopping cart is empty.</li>
            {% endfor %}
        </ul>
    </div>
</div>