.htmx-indicator {
    display: none !important;
}
.htmx-request .htmx-indicator {
    display: inline !important;
}
.htmx-request.htmx-indicator {
    display: inline !important;
}
.htmx-request .btn-text {
    display: none !important;
}
