{% load crispy_forms_tags %}
<div class="modal-header position-relative">
    <h5 class="modal-title" id="">
        Sign in
    </h5>
    <button
        type="button"
        class="btn-close"
        data-bs-dismiss="modal"
        aria-label="Close"
    ></button>
</div>
<form>
    {% csrf_token %}
    <div class="modal-body">
        {{ login_form|crispy }}
        <div id="message"></div>
        <div>
            <a class="text-muted text-decoration-none" href="#">I have forgotten my password.</a>
        </div>
    </div>
    <div class="modal-footer">
            <div class="d-flex w-100 gap-2">
                <button type="submit" class="btn btn-outline-dark w-100"
                hx-post={% url "login" %}
                hx-trigger="click"
                hx-target="#message"
                hx-swap="innerHTML"
                >Sign in</button>
                <a type="submit" class="btn btn-outline-primary w-50"
                    hx-get={% url "register" %}
                    hx-trigger="click"
                    hx-target=".modal-content"
                    hx-swap="innerHTML"
                >Sign up</a>
            </div>
    </div>
</form>