{% extends "base/base.html" %}
{% load crispy_forms_tags %}
{% block title %}Welcome {{user.first_name|title}}{% endblock %}

{% block body %}
<section class="py-7" style="min-height: 85vh;">
    <div class="container">
        <div class="d-flex align-items-start">
            <div class="nav flex-column nav-pills me-3" id="v-pills-tab" role="tablist" aria-orientation="vertical">
              <button class="nav-link active" id="v-pills-profile-tab" data-bs-toggle="pill" data-bs-target="#v-pills-profile" type="button" role="tab" aria-controls="v-pills-profile" aria-selected="true">Profile</button>
              <button class="nav-link" id="v-pills-order-tab" data-bs-toggle="pill" data-bs-target="#v-pills-orders" type="button" role="tab" aria-controls="v-pills-orders" aria-selected="false">Orders</button>
              <button class="nav-link" id="v-pills-address-tab" data-bs-toggle="pill" data-bs-target="#v-pills-address" type="button" role="tab" aria-controls="v-pills-address" aria-selected="false">Address</button>
            </div>

            {% comment %} Tab Content {% endcomment %}
            <div class="tab-content w-100" id="v-pills-tabContent">

                {% comment %} Profile Tab {% endcomment %}
              <div class="tab-pane fade show active mx-auto" id="v-pills-profile" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                  {% include "accounts/includes/edit_profile.html" %}
              </div>
              
              {% comment %} Orders Tab {% endcomment %}
              <div class="tab-pane fade" id="v-pills-orders" role="tabpanel" aria-labelledby="v-pills-profile-tab" tabindex="0">
                  {% include "accounts/includes/orders_list.html" %}
              </div>

              {% comment %} Orders Tab {% endcomment %}
              <div class="tab-pane fade" id="v-pills-address" role="tabpanel" aria-labelledby="v-pills-address-tab" tabindex="0">
                  {% include "accounts/includes/address_list.html" %}
              </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}