{% load crispy_forms_tags %}
<div class="col-md-8 offset-md-2">
    <form hx-headers='{"X-CSRFToken": "{{ csrf_token }}"}'>
        {{address_form|crispy}}

        <div class="d-flex gap-2">
            <button 
                type="button"
                class="btn btn-outline-dark w-50"
                hx-get={% url "address-list" %}
                hx-target="#address-container"
            >
                <span class="btn-text">Cancel</span>
                {% include "base/includes/htmx_indicator.html" %}
            </button>

            <button 
                class="btn btn-outline-dark w-50"
                hx-post={% url "address" %}
                hx-target="#address-container"
            >
                <span class="btn-text">Submit</span>
                {% include "base/includes/htmx_indicator.html" %}
        </button>
        </div>
    </form>
</div>