{% extends "base/base.html" %}

{% block title %}Mcommerce - A new Modern Solution{% endblock %}

{% block body %}
<main>
    <section id="categories" class="pb-5 pt-7">
        <div class="container">
            <h2 class="fw-light  text-center">You might be interested in</h2>
            
            {% comment %} Some Categories go here {% endcomment %}
            <div class="row">
                {% comment %} Product category Icon with link Goes below {% endcomment %}
                {% for category in categories %}
                    <div class="col-4 col-md-2">
                        <a href="#" class="text-decoration-none">
                            <div class="d-flex flex-column justify-content-center align-items-center">
                                <img class="img-fluid rounded-circle" src="{{category.image.url}}" alt="{{category.name}}" style="height: 8rem;">
                                <h4 class="text-dark mt-2">{{category.name|title}}</h4>
                            </div>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
    
    
    <section id="top-selling-products" class="pt-5 pb-6">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <h2 class="fw-bold mb-0">Our Top Selling Products</h2>
            </div>
            
            {% comment %} Latest products go here {% endcomment %}
            <div class="row g-2">
                {% for product in top_selling %}
                    <div class="col-md-3">
                        <a href="{% url "single_product" product.slug %}" class="text-decoration-none">
                            <article class="card h-100">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}" />
                                <div class="card-body">
                                    <h4 class="card-title">{{ product.title}}</h4>
                                    <span class="fs-1 fw-bold">${{ product.price}}</span>
                                </div>
                            </article>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
            
    <section id="latest-products" class="pt-5 pb-6">
        <div class="container">
            <div class="d-flex justify-content-between align-items-center mb-5">
                <h2 class="fw-bold mb-0">Our Latest Products</h2>
                <a href="{% url "products_page" %}" class="btn btn-outline-dark">See More</a>
            </div>
            
            {% comment %} Latest products go here {% endcomment %}
            <div class="row g-2">
                {% for product in latest_products %}
                    <div class="col-md-3">
                        <a href="{% url "single_product" product.slug %}" class="text-decoration-none">
                            <article class="card h-100">
                                <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.title }}" />
                                <div class="card-body">
                                    <h4 class="card-title">{{ product.title}}</h4>
                                    <span class="fs-1 fw-bold">${{ product.price}}</span>
                                </div>
                            </article>
                        </a>
                    </div>
                {% endfor %}
            </div>
        </div>
    </section>
</main>
{% endblock %}