{% load static %}
<div class="dropdown">
    <a
        class="dropdown-toggle d-flex align-items-center gap-1"
        id="profile-modal"
        data-bs-toggle="dropdown"
        href="#"
    >
    {% if user.avatar %}
    <img src="user.avatar.url" alt="avatar" stlye="width: 36px; height:36px;" class="rouded-circle">
    {% else %}
    <div class="bg-dark rounded-circle" style="width:36px; height:36px;"></div>
    {% endif %}
    </a>
    <div class="dropdown-menu" aria-labelledby="profile-modal">
        <a class="dropdown-item" href="{% url "profile" %}">Profile</a>
        <a class="dropdown-item" href="{% url "profile" %}">Orders</a>
        <div class="dropdown-divider"></div>
        <form action="{% url "logout" %}" method="post">
            {% csrf_token %}
            <button class="dropdown-item">Logout</button>
        </form>
    </div>
</div>
